body {
  font-family: Oswald;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}


h2, h3 {
  font-weight: 200;
}

h2, h3 {
  margin: 0;
}

@font-face {
  font-family:'disney';
  src: url(../../../../../../../clubenoturno/assets/fonts/Disney-Comic-Regular.ttf);
}


h1 {
  font-family:'disney';
  color: rgba(255, 0, 0, 0.526);
}